.banner
    .container
        .banner-wrap
            .banner-banner
                .banner-banner__items
                    .swiper-wrapper
                        .banner-banner__item.swiper-slide
                            .banner-banner__item-content
                                h2.banner-banner__item-title Лучшая экипировка для охоты - Strike Gear
                                a.btn.banner-banner__item-btn Подробнее
                            .banner-banner__item-shadow
                            img.banner-banner__item-img(src="assets/images/other/banner.png")
                        .banner-banner__item.swiper-slide
                            .banner-banner__item-content
                                h2.banner-banner__item-title Лучшая экипировка для охоты - Strike Gear
                                a.btn.banner-banner__item-btn Подробнее
                            .banner-banner__item-shadow
                            img.banner-banner__item-img(src="assets/images/other/banner.png")
                        .banner-banner__item.swiper-slide
                            .banner-banner__item-content
                                h2.banner-banner__item-title Лучшая экипировка для охоты - Strike Gear
                                a.btn.banner-banner__item-btn Подробнее
                            .banner-banner__item-shadow
                            img.banner-banner__item-img(src="assets/images/other/banner.png")
                .banner-banner__paginations
                .banner-banner__navs
                    .banner-banner__navs-next.swiper-button-next
                        img(src="assets/images/other/slide-next.svg")
                    .banner-banner__navs-prev.swiper-button-prev
                        img(src="assets/images/other/slide-prev.svg")
            .banner-stock
                .banner-stock__wrap
                    .banner-stock__top
                        .banner-stock__title Получайте бонусы за каждую покупку
                        .banner-stock__btn.trans-btn Узнать условия
                    .banner-stock__bottom
                        img(src="assets/images/other/stock-card.png")
                    .banner-stock__bottom-figure
                        svg(
                            width="100%",
                            height="225",
                            viewBox="0 0 100% 225",
                            fill="none",
                            xmlns="http://www.w3.org/2000/svg"
                        )
                            path(
                                d="M0 66L295 0V251H0V66Z",
                                fill="#FCB514"
                            )