-
  var menu = [
    {
      name: 'Каталог',
      code: 'catalog',
      sections: [
        {
          name: 'Рыбалка',
          code: 'ribalka',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ]
        },
        {
          name: 'Охота',
          code: 'hunt',
          link: '/'
        },
        {
          name: 'Одежда и обувь',
          code: 'odejda_obuv',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ]
        },
        {
          name: 'Лодки и моторы',
          code: 'lodki',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ]
        },
        {
          name: 'Туризм и отдых',
          code: 'turizm',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ]
        },
        {
          name: 'Электронные приборы',
          code: 'elektro',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ]
        },
        {
          name: 'Мёд, крем-мёд, чай',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ],
          code: 'med',
        },
        {
          name: 'Грили Weber',
          subs: [
            {
              name: 'Удилища',
              link: '/'
            },
            {
              name: 'Катушки',
              link: '/'
            },
            {
              name: 'Приманки и спиннинговые',
              link: '/'
            },
            {
              name: 'Крючки',
              link: '/'
            },
            {
              name: 'Зимняя рыбала',
              link: '/'
            },
            {
              name: 'Леска',
              link: '/'
            },
            {
              name: 'Поплавки и аксессуары',
              link: '/'
            },
            {
              name: 'Кормушки',
              link: '/'
            },
          ],
          code: 'gril'
        },
      ]
    },
    {
      name: 'Покупателям',
      code: 'customers',
      sections: []
    }
  ];

.mobil-menu
  .container
    .mobil-menu__wrap
      .mobil-menu__top
        .mobil-menu__item.internal(data-open-id="catalog") Каталог
        .mobil-menu__item Акции
        .mobil-menu__item О нас
        .mobil-menu__item.internal(data-open-id="customers") Покупателям
        .mobil-menu__item Доставка
        .mobil-menu__item Контакты
      .mobil-menu__center
        .mobil-menu__favorite.mobil-menu__center-item
          img(src="./assets/images/other/fav.svg")
          span Избранное
        .mobil-menu__center-item
          img(src="./assets/images/other/profile.svg")
          span Войти
      .mobil-menu__contacts
        .mobil-menu__contacts-phones
          a.mobil-menu__contacts-phone 8 (800) 700-49-78
          a.mobil-menu__contacts-phone 8 (8352) 22-41-00
        .mobil-menu__contacts-soc
          .mobil-menu__contacts-soc_title Мы в социальных сетях
          .mobil-menu__contacts-soc_items
            img(src="./assets/images/other/vk-blue.svg")
      .mobil-menu__internal
        each internal in menu
          .mobil-menu__internal-item( data-open-id=internal.code )
            .mobil-menu__internal-item_title
              img( src="./assets/images/other/small-angle-right.svg", data-open-id=internal.code )
              span= internal.name
            .mobil-menu__internal-item_sections
              each section in internal.sections
                if section.subs
                  .mobil-menu__internal-item_section.internal( data-open-id=section.code )= section.name
                else
                  a.mobil-menu__internal-item_section( href=section.link )= section.name
        each internal in menu
          each section in internal.sections
            .mobil-menu__internal-item( data-open-id=section.code )
              .mobil-menu__internal-item_title
                img( src="./assets/images/other/small-angle-right.svg", data-open-id=section.code )
                span= section.name
              .mobil-menu__internal-item_sections
                if section.subs
                  each sub in section.subs
                    a.mobil-menu__internal-item_section( href=sub.link )= sub.name